# dependencies
node_modules/
.pnpm-store/
.yarn/
package-lock.json

# production
dist/
build/

# local env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / system files
.DS_Store
Thumbs.db
.vscode/
.idea/

# misc
*.local
*.cache
